/.idea/
/Foxhole COP Updater.iml
/AILayer.milxly
/Permanent Structures.milxly
/Resources.milxly
/SCRanges.milxly
/src/fullSatMap.png
/src/fullRegularMapTrimmedLowBrgtHiCon.png
/src/fullRegularMapTrimmedContrasted.xcf
/src/fullRegularMap2WithContentTrim.png
/src/fullRegularMap.png
/config (8).json
/config (7).json
/out/production/Foxhole COP Updater/Little Lamb Takeover.milxlyz
/out/production/Foxhole COP Updater/Layer.milxly
/out/production/Foxhole COP Updater/fullSatMap2.png
/out/production/Foxhole COP Updater/fullRegularMapTrimmedLowBrgtHiCon.png
/out/production/Foxhole COP Updater/fullRegularMapTrimmedHiBrgtHiCon.png
/out/production/Foxhole COP Updater/fullRegularMapTrimmedContrasted.xcf
/out/production/Foxhole COP Updater/fullRegularMapTrimmedContrasted.png
/out/production/Foxhole COP Updater/fullRegularMapTrimmedColorAdjust.xcf
/out/production/Foxhole COP Updater/fullRegularMap2WithContentTrim.png
/out/production/Foxhole COP Updater/fullRegularMap.png
/out/production/Foxhole COP Updater/Foxhole Map High Fidelity Composite v1.1.png
/out/production/Foxhole COP Updater/Base Foxhole Layers.milxlyz
/src/Layer.milxly
/src/Little Lamb Takeover.milxlyz
/src/fullRegularMapTrimmedColorAdjust.xcf
/assets/fullRegularMapTrimmedCompressed.png
/src/Base Foxhole Layers.milxlyz
/out/*
/milxOut/*
